<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.demon.mydemo">

    <!-- 访问网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 开机广播权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- 访问网络 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DialogActivity"
            android:label=""
            android:theme="@style/Theme.AppCompat.Dialog">
        </activity>
        <activity
            android:name=".activity.SecondActivity"
            android:label="这是第二个活动">
        </activity>
        <activity android:name=".view.ListViewTest">
        </activity>
        <activity android:name=".view.RecyclerViewTest">
        </activity>
        <activity
            android:name=".chat.ChatViewActivity"
            android:label="Chat">
        </activity>
        <activity android:name=".fragment.FragmentMain">
        </activity>
        <activity android:name=".fragment.NewsContentActivity">
        </activity>
        <activity android:name=".fragment.NewsMainActivity">
        </activity>
        <activity android:name=".broadcast.BroadcastMainActivity">
        </activity>

        <!--
        在这个文件 注册静态广播
        enabled:是否启动这个广播接收器
        exported:是否允许这个广播接收器接受本程序以外的广播
        -->
        <receiver
            android:name=".broadcast.BootCompleteReceiver"
            android:enabled="false"
            android:exported="true">

            <!-- 加上需要注册的广播 -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <!-- 自定义广播接收器 -->
        <receiver
            android:name=".broadcast.MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true">

            <!-- 标准广播 -->
            <!-- <intent-filter> -->
            <!-- <action android:name="com.example.demon.mydemo.broadcast.MY_BROADCAST"/> -->
            <!-- </intent-filter> -->


            <!-- 有序广播 -->
            <intent-filter android:priority="100">
                <action android:name="com.example.demon.mydemo.MY_BROADCAST"/>
            </intent-filter>
        </receiver>

        <activity android:name=".storage.FileOutPutActivity">
        </activity>
        <activity android:name=".storage.SharedPreferencesActivity">
        </activity>
        <activity android:name=".storage.DatabaseActivity">
        </activity>
        <activity android:name=".storage.LitePalActivity">
        </activity>
        <activity
            android:label="浏览器"
            android:name=".network.WebViewActivity">
        </activity>
        <activity
            android:label="取得http响应"
            android:name=".network.HttpActivity">
        </activity>
    </application>

</manifest>