<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.demon.mydemo">

    <!-- 访问网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 开机广播权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- 访问网络 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 访问SD卡 4.4之前访问要声明权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 读取联系人 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- 百度定位地图用到的权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>-->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!--
    设置系统的初始化类
    禁用分屏android:resizeableActivity="false"
    -->
    <application
        android:name=".util.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 百度定位 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="74sng9qTkpvqiEDda3d1tyG12W840fZL"/>

        <activity android:name=".MainActivity">
        </activity>

        <!-- android:screenOrientation=["portrait"|"landscape"]。竖屏、横屏 -->
        <activity
            android:name=".activity.DialogActivity"
            android:label=""
            android:theme="@style/Theme.AppCompat.Dialog">
        </activity>
        <activity
            android:name=".activity.SecondActivity"
            android:label="这是第二个活动">
        </activity>
        <activity android:name=".view.ListViewTest">
        </activity>
        <activity android:name=".view.RecyclerViewTest">
        </activity>
        <activity
            android:name=".chat.ChatViewActivity"
            android:label="Chat">
        </activity>
        <activity android:name=".fragment.FragmentMain">
        </activity>
        <activity android:name=".fragment.NewsContentActivity">
        </activity>
        <activity android:name=".fragment.NewsMainActivity">
        </activity>
        <activity android:name=".broadcast.BroadcastMainActivity">
        </activity>

        <!--
        在这个文件 注册静态开机广播
        enabled:是否启动这个广播接收器
        exported:是否允许这个广播接收器接受本程序以外的广播
        -->
        <receiver
            android:name=".broadcast.BootCompleteReceiver"
            android:enabled="false"
            android:exported="true">

            <!-- 加上需要注册的广播 -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <!-- 自定义广播接收器 -->
        <receiver
            android:name=".broadcast.MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true">

            <!-- 标准广播 -->
            <!-- <intent-filter> -->
            <!-- <action android:name="com.example.demon.mydemo.broadcast.MY_BROADCAST"/> -->
            <!-- </intent-filter> -->


            <!-- 有序广播 -->
            <intent-filter android:priority="100">
                <action android:name="com.example.demon.mydemo.MY_BROADCAST"/>
            </intent-filter>
        </receiver>

        <activity android:name=".storage.FileOutPutActivity">
        </activity>
        <activity android:name=".storage.SharedPreferencesActivity">
        </activity>
        <activity android:name=".storage.DatabaseActivity">
        </activity>
        <activity android:name=".storage.LitePalActivity">
        </activity>
        <activity
            android:name=".network.WebViewActivity"
            android:label="浏览器">
        </activity>
        <activity
            android:name=".network.HttpActivity"
            android:label="取得http响应">
        </activity>
        <activity android:name=".ThreadUpdataUi.ThreadUpdateUiMainActivity">
        </activity>

        <service
            android:name=".service.ServiceTest"
            android:enabled="true"
            android:exported="true">
        </service>
        <service android:name=".service.IntentServiceTest"/>

        <activity android:name=".service.ServiceTextActivity">
        </activity>

        <service
            android:name=".service.DownloadService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity android:name=".service.DownloadActivity">
        </activity>
        <activity android:name=".contentProvider.ContentTestActivity">
        </activity>

        <provider
            android:name=".contentProvider.DatabaseProvider"
            android:authorities="com.example.demon.databasetest.provider"
            android:enabled="true"
            android:exported="true">
        </provider>

        <!-- singleTop不会重复 -->
        <activity
            android:name=".Notification.NotificationTestActivity"
            android:launchMode="singleTop">
        </activity>
        <activity android:name=".media.MediaTestActivity">
        </activity>

        <!-- 手动注册供拍照时存储照片的特殊内容提供器 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.demon.mydemo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- 指定url的共享路径 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <!-- 注册百度定位的服务 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
        </service>

        <activity android:name=".baidulocation.LocationTestActivity">
        </activity>
        <activity android:name=".storage.StorageMainActivity">
        </activity>
        <activity
            android:name=".materialDesign.MaterialDesignActivity"
            android:label="标题栏显示内容">
        </activity>
        <activity
            android:name=".materialDesign.FruitActivity"
            android:theme="@style/FruitActivityTheme">
        </activity>
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".service.LongRunningService"
            android:enabled="false"
            android:exported="true">
        </service>

        <activity android:name=".weather.WeatherMainActivity">
        </activity>
        <activity android:name=".weather.WeatherActivity">
        </activity>

        <service
            android:name=".weather.servive.AutoUpdateService"
            android:enabled="true"
            android:exported="true">
        </service>
    </application>

</manifest>